sudo: required
services: 
  - docker

before_install:
  - docker build -t maverickdev69/docker-react-learn -f Dockerfile.dev .

script:
  - docker run maverickdev69/docker-react-learn npm run test -- --coverage 